.fundo-loading{
    position: absolute;
    padding-top: 45%;
    padding-left: 35%;
    max-width: 100%;

}
.Logo{
   position: absolute;
   height: 30%;
   padding-top: 50%;
   padding-left: 40%;
   max-width: 100%;
}